/*General*/
/*body{
    background-color:rgb(103, 103, 103);
    color: white;
} */

body{
    background-color: var(--background-color);
    color: var(--color);
}

/* Display Mode */
body:not(.light-mode){
    --background-color: rgb(103, 103, 103);
    --color: white;
  }
.light-mode{
    --background-color:rgb(255, 255, 255);
    --color: rgb(0, 0, 0);
}
.display_btn{
    cursor:pointer;
    background-color: lightblue;
}
.display_btn:hover{
    color:rgb(0, 173, 26);
}

h1 {
    color:aliceblue;
    background-color: rgb(161, 161, 162);
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    box-shadow: 12px 12px 11px 11px black;
}
h1 a {
    font-size: 20px;
    color: white;
}


table.center{
    border: 2px solid #ff0000;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    background-color: rgb(161, 161, 162);
    padding: 5px;
    font-size: 0.9em;
    clear: both; 
  }

/*Home Page*/
.aprilLogo{
    margin-bottom: 5px;
    margin-left: 15px;
    transition: 0.4s;
    top: 0;
    left: 0;
    position: relative;
}
.aprilLogo-top{
    color: black;
    position: absolute;
    top: 0;
}

#navigation {
    font-size: 16px;
    background-color: black;
    position: fixed;
    text-align: center;
    transition: 0.4s;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 100;

    display: flex;
    gap: 15px;
}
#navigation a {   
    color: white;
    padding: 3px;
}
#navigation a:hover{
    background-color:white;
    color:black;
}

    #nav-photography a, #nav-vfx a, #nav-sonarfx a{
        color: rgb(0, 255, 0);
        text-align:center;
        font-size: 30px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight:bold;
}

    #nav-sonarfx{
        text-align: center;
}

    #nav-photography a:hover, #nav-vfx a:hover, #nav-sonarfx a:hover{
        color:yellow;
}
.logoVid{
    font-size: 20px;
    text-align:center;
}
.p1{
    font-size: 20px;
    text-align:center;
}

/* Photography Page */
div.photoGallery{
    background-color: #ffffff;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div.photoGallery img{
    padding: 10px;
}

/* VFX Page */
.vfxVideos{
    display: flex;
    justify-content: left;
    border: 2px solid #0000ff;
    background-color: rgb(215, 255, 177);
    align-items: left;
    margin-left: 5;
    margin-bottom: 5;
    padding: 15px;

}
.p-description{
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 30px;
}

/* About Me Page */
#aboutMe-text{
    font-size: 20px;
    text-align:center;
}


